CherryPy==3.2.2
Django==1.4.1
PIL==1.1.7
South==0.7.6
distribute==0.6.24
django-admin-tools==0.4.1
django-classy-tags==0.3.4.1
django-cms==2.3.1
django-filer==0.8.7
django-invitation==1.0
django-mailer==0.1.0
django-messages==0.4.4
django-mptt==0.5.2
django-notification==0.2
django-registration==0.8
django-sekizai==0.6.1
django-social-auth==0.7.5
easy-thumbnails==1.1
html5lib==0.95
httplib2==0.7.5
oauth2==1.5.211
psycopg2==2.4.5
python-openid==2.2.5
wsgiref==0.1.2
